/* General Layout */
.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #333;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.form-wrapper {
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    animation: slideFromTop 1s ease-out;
}


@keyframes slideFromTop {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Tabs */
.tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    position: relative;
}

.tab {
    flex: 1;
    text-align: center;
    padding: 10px;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    border: none;
    background: transparent;
    color: #6b7280;
    position: relative;
    transition: color 0.3s;
}

.tab.active {
    color: #ff8b33;
}

.tab::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: background 0.3s;
}

.tab.active::after {
    background: #ff8b33;
}

/* Input Group */
.input-group {
    position: relative;
    margin-top: 20px;
}

.input-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: #6b7280;
}

.input {
    width: 100%;
    padding: 12px 40px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 14px;
    color: #374151;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.input:focus {
    border-color: #ff8b33;
    box-shadow: 0 0 0 3px rgba(229, 142, 70, 0.2);
}

/* Submit Button */
.submit-container {
    margin-top: 20px;
}

.submit-button {
    width: 100%;
    padding: 12px;
    background: #ea7318;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
}

.submit-button:hover {
    background: #aa5310;
}

/* Error Message */
.error-message {
    color: #e11d48;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.slide-in-left {
    animation: slideInLeftReversed 0.5s ease forwards;
}

.slide-in-right {
    animation: slideInRightReversed 0.5s ease forwards;
}

@keyframes slideInLeftReversed {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRightReversed {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}