.layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background-color: #414141;
}

.content {
  flex: 1;
  /* Ocupar todo el espacio libre a lo ancho */
  display: flex;
  /* Para controlar altura de hijos con flex */
  flex-direction: column;
  overflow: hidden;
  /* Evita scroll en este contenedor */
  position: relative;
  transition: margin-left 0.4s ease;
}

@media (max-width: 768px) {

  /* Para móviles permitimos el scroll vertical */
  .layout {
    height: auto;
    /* Permite que se ajuste a la altura del contenido */
    overflow-y: auto;
  }

  .content {
    margin-left: 0;
    /* Si el sidebar se vuelve overlay o se oculta, el contenido ocupa el ancho completo */
    padding: 20px;
    /* Opcional: agrega padding para que no quede pegado a los bordes */
  }
}

.page-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.content.with-sidebar {
  margin-left: 250px;
  /* Ancho del sidebar expandido */
}

.content.minimized-sidebar {
  margin-left: 60px;
  /* Ancho del sidebar minimizado */
}

/* Animaciones modernas */
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0.9);
  }
}

.content.slide-in {
  animation: zoomIn 0.4s ease forwards;
}

.content.slide-out {
  animation: zoomOut 0.4s ease forwards;
}