/* Estilo del contenedor del loader */
.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); /* Fondo oscuro semi-transparente */
    backdrop-filter: blur(10px); /* Efecto de desenfoque en el fondo */
    display: flex;
    justify-content: center; /* Centra el loader horizontalmente */
    align-items: center; /* Centra el loader verticalmente */
    z-index: 9999; /* Asegúrate de que esté encima de otros elementos */
}

/* Estilo del loader (círculo giratorio) */
.loader {
    border: 8px solid #f3f3f3; /* Color de la parte externa del círculo */
    border-top: 8px solid #d48019; /* El color naranja para el movimiento */
    border-radius: 50%; /* Hace que el loader sea redondo */
    width: 50px; /* Tamaño del loader */
    height: 50px; /* Tamaño del loader */
    animation: spin 2s linear infinite; /* Animación de rotación infinita */
}

/* Animación de rotación */
@keyframes spin {
    0% {
        transform: rotate(0deg); /* Comienza desde 0 grados */
    }
    100% {
        transform: rotate(360deg); /* Gira 360 grados */
    }
}
